.form-container {
	display: flex;
	align-items: center;
}

.form-box {
	display: flex;
	flex-direction: column;
}

.login-account {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-box > *:first-child {
	margin-top: 0;
}

.form-box input,
.form-box button,
.login-account button {
	height: 20px;
	/* margin-top: 10px; */
}

.form-box input {
	width: 326px;
	height: 46px;
	font-size: 15px;
	line-height: 44px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	padding: 1px 16px;
}

.form-box input {
	border-bottom: none;
}

.form-box input:last-child {
	border-bottom: 1px solid #ddd;
}

.form-box button,
.login-account button {
	margin-bottom: 16px;
	width: 100%;
	font-size: 17px;
	line-height: 46px;
	box-sizing: border-box;
	height: 48px;
	border: none;
	cursor: pointer;
}
.form-box button:hover {
	background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, purple);
}
.login-account button {
	width: 326px;
}
.icon-sign-up {
	display: flex;
	justify-content: end;
}
.icon-sign-up > * {
	vertical-align: middle;
}
.icon-sign-up svg {
	margin-right: 10px;
}
.icon-sign-up label {
	cursor: pointer;
}

.profile {
	display: flex;
	align-items: center;
}

.profile ul {
	border: 1px solid #dedede;
	padding: 10px;
	padding-bottom: 0px;
	width: 15rem;
}

.profile ul li {
	display: flex;
	min-height: 30px;
	align-items: center;
	margin-bottom: 5px;
}
.profile ul li span {
	width: 20%;
	display: inline-block;
	background-color: #f8f8f8;
	padding: 5px;
	margin-right: 10px;
	text-align: center;
}

.profile ul li img {
	width: 30%;
	border-radius: 50%;
}

.profile .bono-img {
	justify-content: center;
}

.btn-logout {
	width: 100%;
	font-size: 17px;
	line-height: 46px;
	box-sizing: border-box;
	height: 48px;
	border: none;
	cursor: pointer;
}

.loader {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 3em;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.loader,
.loader:before,
.loader:after {
	animation: 1s infinite ease-in-out;
}

.loader:before,
.loader:after {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.loader-black {
	background-color: #333;
}
/* Loader 6 */

.loader-6 {
	animation: loader6-1 1.5s infinite linear;
}
.loader-6:before,
.loader-6:after {
	content: "";
	margin: -25px 0 0 -25px;
	top: 50%;
	left: 50%;
	background-color: rgba(30, 30, 30, 0.7);
	animation-name: loader6-2;
}
.loader-6:after {
	animation-direction: reverse;
}

@keyframes loader6-1 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes loader6-2 {
	0% {
		transform: scale(0.2);
		left: 0%;
	}
	50% {
		transform: scale(1);
		left: 50%;
	}
	100% {
		transform: scale(0.2);
		left: 100%;
	}
}

/* Loader 7 */

.loader-7 {
	animation: loader7-1 1s infinite linear;
}

.loader-7:before,
.loader-7:after {
	content: "";
	width: 80%;
	height: 80%;
	background-color: #333;
	top: 5%;
}
.loader-7:before {
	left: -5%;
	animation: loader7-2 1s infinite alternate ease-in-out;
	transform-origin: 10% 50%;
}
.loader-7:after {
	left: auto;
	right: -5%;
	animation: loader7-2 1s 1s infinite alternate ease-in-out;
	transform: scale(0);
	transform-origin: 90% 50%;
}

@keyframes loader7-1 {
	0% {
		transform: rotate(20deg);
	}
	100% {
		transform: rotate(380deg);
	}
}

@keyframes loader7-2 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

.main-site {
	display: flex;
	align-items: center;
}

.btn-logout,
.profile .bono-img {
	background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, purple);
}

.profile ul {
	background-color: #333;
}
.profile ul li {
	color: whitesmoke;
}
.profile ul li span {
	color: #333;
}
