.form-container {
	display: flex;
	align-items: center;
}

.form-box {
	display: flex;
	flex-direction: column;
}

.login-account {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-box > *:first-child {
	margin-top: 0;
}

.form-box input,
.form-box button,
.login-account button {
	height: 20px;
	/* margin-top: 10px; */
}

.form-box input {
	width: 326px;
	height: 46px;
	font-size: 15px;
	line-height: 44px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	padding: 1px 16px;
}

.form-box input {
	border-bottom: none;
}

.form-box input:last-child {
	border-bottom: 1px solid #ddd;
}

.form-box button,
.login-account button {
	margin-bottom: 16px;
	width: 100%;
	font-size: 17px;
	line-height: 46px;
	box-sizing: border-box;
	height: 48px;
	border: none;
	cursor: pointer;
}
.login-account button {
	width: 326px;
}
.icon-sign-up {
	display: flex;
	justify-content: end;
}
.icon-sign-up > * {
	vertical-align: middle;
}
.icon-sign-up svg {
	margin-right: 10px;
}
.icon-sign-up label {
	cursor: pointer;
}

.profile {
	display: flex;
	align-items: center;

}

.profile ul {
	border: 1px solid #dedede;
	padding: 10px;
	padding-bottom: 0px;
	/* width: 500px; */
}

.profile ul li {
	display: flex;
	min-height: 30px;
	align-items: center;
	margin-bottom: 5px;
}
.profile ul li span {
	width: 20%;
	display: inline-block;
	background-color: #f8f8f8;
	padding: 5px;
	margin-right: 10px;
	text-align: center;
}

.profile ul li img {
	width: 25%;
}

.profile .bono-img {
	align-items: flex-end;
}

.btn-logout {
	width: 100%;
	font-size: 17px;
	line-height: 46px;
	box-sizing: border-box;
	height: 48px;
	border: none;
	cursor: pointer;
}