.diary {
	display: flex;
	justify-content: center;
	width: 70%;
	min-height: 70vh;
	border-left: 1px solid #e7f6f2;
	border-right: 1px solid #e7f6f2;
}

.diary .about {
	/* background-image: url("/assets/image/bono_back_friend.jpg"); */
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.diary .about section {
	height: 100%;
	display: flex;
	align-items: center;
}
/* list */
.diary .list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.diary .list .list-container {
	width: 70%;
	margin: 10px 0;
}
.diary .list .list-container .list-item {
	display: flex;
	justify-content: flex-start;
	/* width: 400px; */
	padding: 5px;
	border: 1px solid #bcbcbc;
	margin-bottom: 10px;
	box-sizing: border-box;
}
.diary .list .list-container .list-item > * {
	margin-right: 10px;
}
.diary .list .list-container .list-item img {
	object-fit: cover;
	width: 20%;
}

/* .diary .list .list-container .list-item a, */
.diary .list .list-container .list-item p,
.diary .detail .info p {
	display: flex;
	border-bottom: 1px solid #ececec;
	flex-wrap: wrap;
}

.diary .list .list-container .list-item p:last-child,
.diary .detail .info p:last-child {
	border-bottom: none;
}
.diary .list .list-container .list-item p.regdate,
.diary .detail .info p.date {
	font-size: 0.8em;
	color: #737373;
}
.diary .list .list-container .list-item .info {
}

.diary .list .list-container p:last-child {
	border-bottom: none;
}
.diary .list .list-container p,
.diary .detail .info p {
	margin: 0;
}
.diary .list .list-container p span,
.diary .detail .info p span {
	width: 60px;
	font-weight: bold;
}
.diary .list .list-container .handleButton {
	margin-top: 5px;
}
.diary .list .list-container .handleButton button:first-child {
	margin-left: 0px;
}
.diary .list .list-container .handleButton button {
	margin: 0px 3px;
}

.diary .editor .link-button,
.diary .list .list-container .link-button,
.diary .detail .link-button {
	margin-bottom: 16px;
	width: 100%;
	font-size: 17px;
	/* line-height: 46px; */
	box-sizing: border-box;
	height: 4.5vh;
	border: none;
	cursor: pointer;
}

.diary .list .list-container .link-button a {
	padding: 0px 10px;
}

/* editor */
.diary .editor {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.diary .editor input,
.diary .editor textarea,
.diary .editor select {
	width: 300px;
	margin-bottom: 10px;
	box-sizing: border-box;
	padding: 5px;
	font-family: "PT Sans", "Hi Melody", sans-serif;
	border: 1px solid #ddd;
	outline: none;
	border-radius: 5px;
}
.diary .editor select {
	appearance: none;
}
.diary .editor input,
.diary .editor textarea {
	font-size: 1.1em;
	resize: vertical;
}
.diary .editor .image-container label {
	display: flex;
	width: 300px;
	height: 200px;
	border: 1px solid #ddd;
	color: #ddd;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}
.diary .editor .image-container label svg {
	height: 50%;
}
.diary .editor .image-container label #preview-img {
	display: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.diary .editor .image-container input[type="file"] {
	display: none;
}
.diary .editor .button-wrap {
	display: flex;
	justify-content: space-between;
	width: 300px;
}
.diary .editor .button-wrap button {
	width: 45%;
}

.diary .detail {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 25rem;
}

.diary .detail .info {
	display: flex;
	flex-direction: column;
	min-width: 15rem;
	border: 1px solid black;
	padding: 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.react-datepicker-wrapper {
	width: auto !important;
}

/* 반응형 */
@media (max-width: 765px) {
	.diary {
		width: 100%;
	}
	.diary .list .list-container .list-item,
	.diary .detail {
		/* width: 15rem; */
		overflow-wrap: anywhere;
	}

	.diary .list .list-container .handleButton button {
		width: 100%;
		margin: 0px 2px;
	}
	.diary .list .list-container .handleButton {
		display: flex;
		justify-content: space-evenly;
		margin-top: 5px;
	}
}
